# ignore macOS local files
.DS_Store
# ignore vscode and metals local files
.bloop/**
.bsp**
.metals**
.vscode**
project/.bloop**
project/project**
project/target**
project/metals.sbt
target/*
build-plugin/target/*
cicd/target/*
lakehouse/target/*
sbt-launch.jar

# ignore local test-config resources
*/src/test/resources/test-config.json
*/src/test/resources/test-config.json.*
!*/src/test/resources/test-config.json.template

# ignore secrets
cicd/src/main/resources/*.json
cicd/src/main/resources/deployment/configFiles/*.json
!cicd/src/main/resources/deployment/configFiles/template.json

# ignore databricks 
.databricks/*


