# ignore macOS local files
.DS_Store
# ignore vscode and metals local files
.bloop/**
.bsp**
.metals**
.vscode**
project/.bloop**
project/project**
project/metals.sbt
target/*

*/target/*

# ignore local test-config resources
*/src/test/resources/local-config.json
*/src/test/resources/local-config.json.*
!*/src/test/resources/local-config.json.template
almond/src/main/resources/local-config.json
almond/src/main/resources/local-config.json.*
!almond/src/main/resources/local-config.json.template


# ignore databricks 
.databricks/*
