{
    "tempdir": "/tmp",
    "sparkConfig": {
        "clazz": "RemoteDevLakehouse",
        "workspaceUrl": "adb-3595568488992622.2.azuredatabricks.net",
        "clusterId": "",
        "pat": ""
    }
}