{
    "LogFile": "None",
    "LogLevel": {
        "": "ERROR",
        "ct.dna": "DEBUG",
        "com.azure.data.tables.TableClient_ResourceNotFound": "FATAL"
    },
    "LogTime": "false",
    "EnvironmentConfig": {
        "stage": "dev",
        "clazz": "RemoteSandbox",
        "uid": "uia00402",
        "workspaceUrl": "adbxxxxx.azuredatabricks.net",
        "clusterId": "",
        "pat": ""
    }
}