<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="ct.dna.lakehouse.core.logging">


  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p %c - %m%n" />
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="ERROR">
      <AppenderRef ref="STDOUT" />
    </Root>


    <Logger name="ct.dna" level="info" />
    <Logger name="ct.dna.utils.runtime.Configuration" level="debug" />
    <Logger name="ct.dna.lakehouse.core.GenerateSrRaw$" level="debug" />

    <Logger name="ct.dna.lakehouse.core.catalog.internal.TableManager" level="warn" />
    <Logger name="ct.dna.lakehouse.core.runtime.implicits.package$" level="error" />
    <Logger name="org.apache.spark" level="fatal" />
    <Logger name="com.azure.data.tables.TableClient_ResourceNotFound" level="fatal" />


  </Loggers>


</Configuration>